.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator {
	width: 25rem;
	height: auto;
	box-shadow: 0px 0px 20px 1px rgb(255, 115, 0);
	background-color: rgb(58, 54, 54);
}

.display {
	background-color: rgb(91, 109, 124);
	margin: 1rem;
	padding: 1rem;
	text-align: right;
	font-size: 1.5rem;
	border-radius: 0.2rem;
	color: rgb(255, 255, 255);
}

.display .top {
	font-size: 1rem;
	visibility: hidden;
}

.buttons {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.buttons button.span-2 {
	border-radius: 3rem;
	grid-column: span 2;
	aspect-ratio: unset;
}

.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	margin: 1rem;
	height: 5rem;
}

.row button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	font-size: 1.5rem;
	border: none;
}

.row button:hover {
	box-shadow: 0px 0px 20px 1px rgb(255, 115, 0);
}

.operator {
	background-color: rgb(255, 136, 0);
	color: white;
}
