.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator {
	width: 25rem;
	height: auto;
	border: 1px solid black;
}

.buttons {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.row {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	margin: 1rem;
}

.row button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	font-size: 1.5rem;
}
